<head>
  <!-- google tag -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=AW-17542736996"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "AW-17542736996");
  </script>
  <meta charset="UTF-8" />
  <title>
    مكتب سامي محروس للاستشارات القانونية في الإمارات | محامي عقود وقضايا
  </title>

  <meta
    name="description"
    content="مكتب سامي محروس للاستشارات القانونية بخبرة 25 عامًا في الإمارات. متخصصون في القضايا المدنية، الجنائية، الأحوال الشخصية، والشركات. استشارة قانونية مجانية الآن."
  />

  <meta
    name="keywords"
    content="محامي في الإمارات, استشارات قانونية, عقود جاهزة, محامي في الشارقة, محامي في أبوظبي, محامي في دبي, قضايا مدنية, قضايا شركات, مكتب محاماة في الإمارات"
  />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="index, follow" />
  <link rel="canonical" href="https://lawexpertsuae.com/" />

  <!-- Schema Markup JSON-LD -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LegalService",
      "name": "مكتب سامي محروس للاستشارات القانونية",
      "image": "D:\Samy_Mahrous_Legal_Consaltans-master\Samy_Mahrous_Legal_Consaltans-master\Samy_Mahrous_Legal_Consaltans-master\src\assets\images\30c600fe0a3827da.png",
      "@id": "",
      "url": "https://lawexpertsuae.com/",
      "telephone": "+971552029019",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "مركز الشموخ للعمال، منطقة التجارة الحرة",
        "addressLocality": "أم القيوين",
        "addressRegion": "الإمارات",
        "postalCode": "00000",
        "addressCountry": "AE"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": "25.5630",
        "longitude": "55.5533"
      },
      "areaServed": [
        "دبي",
        "الشارقة",
        "أبوظبي",
        "العين",
        "عجمان",
        "أم القيوين"
      ],
      "sameAs": [
        "https://www.facebook.com/lawexperts.ae?locale=ar_AR",
        "https://www.tiktok.com/@samy_mashal?lang=en"
        "https://www.instagram.com/samy_mashaal/"
      ]
    }
  </script>
  <!-- Google tag (gtag.js) -->
</head>

<div
  class="Home d-flex justify-content-center align-items-center home"
  id="home"
>
  <div class="container-fluid p-0">
    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="assets/images/LAW FIRM (6).png"
            class="d-block vh-100 w-100 carousel-img"
            alt="مكتب استشارات قانونية في الإمارات"
          />
          <div class="carousel-caption">
            <h1 class="text-white fs-1 fw-bolder">
              شركة استشارات قانونيه رائدة في الإمارات بخبرة تمتد لأكثر من 25
              عامًا.
            </h1>
            <div class="buttons-home mt-4">
              <button
                class="px-3 py-2 me-3 color-button-home"
                routerLink="/"
                fragment="contact"
              >
                استشارة مجانية
              </button>
              <button
                class="px-3 py-2 mt-2 me-3 color-button-home"
                routerLink="/templates"
              >
                عقود جاهزة
              </button>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="assets/images/13 (1).png"
            class="d-block vh-100 w-100 carousel-img"
            alt="مكتب استشارات قانونية في الإمارات"
          />
          <div class="carousel-caption">
            <h2 class="text-white fs-1 fw-bolder">
              عقود قانونية دقيقة ومصممة خصيصًا لاحتياجاتك
            </h2>
            <div class="buttons-home mt-4">
              <button
                class="px-3 py-2 me-3 color-button-home"
                routerLink="/"
                fragment="contact"
              >
                استشارة مجانية
              </button>
              <button
                class="px-3 py-2 mt-2 me-3 color-button-home"
                routerLink="/templates"
              >
                عقود جاهزة
              </button>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="assets/images/14.png"
            class="d-block vh-100 w-100 carousel-img"
            alt="مكتب استشارات قانونية في الإمارات"
          />
          <div class="carousel-caption">
            <h2 class="text-white fs-1 fw-bolder">
              استشارتك اليوم… أمانك غدًا.
            </h2>
            <div class="buttons-home mt-4">
              <button
                class="px-3 py-2 me-3 color-button-home"
                routerLink="/"
                fragment="contact"
              >
                استشارة مجانية
              </button>
              <button
                class="px-3 py-2 mt-2 me-3 color-button-home"
                routerLink="/templates"
              >
                عقود جاهزة
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="buttons-slide rounded-end-1">
        <div
          class="angle-next pt-3 carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next"
        >
          <i class="fa-solid fa-angle-right angelrigt fs-3"></i>
        </div>
        <hr />
        <div
          class="angle-left carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev"
        >
          <i class="fa-solid fa-angle-left angelleft fs-3"></i>
        </div>
      </div>

      <div class="mouse hidden-xs">
        <a routerLink="/" fragment="blog"><span class="wheel"></span></a>
      </div>
    </div>
  </div>
</div>

<!-- Start Blog -->
<header class="Blog" id="blog">
  <div class="py-5 text-center">
    <div class="Blog-content text-center">
      <h2 class="clients fw-bolder fs-1">العقود</h2>
      <hr />
      <p>
        نوفر لك مجموعة من العقود القانونية المتنوعة مثل عقود الإيجار والبيع،
        مصممة بعناية لتناسب احتياجاتك. كل عقد قابل للتخصيص بسهولة ويمكنك تعديله،
        حفظه، أو تحميله بصيغة PDF بضغطة زر
      </p>
    </div>

    <div class="embla" #embla>
      <div class="embla__container">
        <div class="embla__slide" *ngFor="let resume of resumes">
          <img [src]="resume.image" alt="مكتب استشارات قانونية في الإمارات" />
        </div>
      </div>

      <!-- أسهم -->
      <button class="embla__prev" (click)="scrollPrev()">
        <i class="fa-solid fa-angle-left"></i>
      </button>
      <button class="embla__next" (click)="scrollNext()">
        <i class="fa-solid fa-angle-right"></i>
      </button>

      <!-- نقاط -->
      <div class="embla__dots">
        <span
          *ngFor="let resume of resumes; let i = index"
          [class.active]="selectedIndex === i"
          (click)="scrollTo(i)"
        ></span>
      </div>
    </div>
    <button class="py-2 px-5 color-button-home" routerLink="/templates">
      انشئ عقدك الآن
    </button>
  </div>
</header>
<!-- End Blog -->

<!-- Start About -->
<header class="About pt-4" id="about">
  <div class="container py-5 px-md-5">
    <div class="About-content text-center">
      <h2 class="Aboutus fs-1 fw-bolder" data-bigletter="من نحن؟">
        ملتزمون بالمصداقية وأخلاقيات المهنة
      </h2>
      <hr />
    </div>

    <div class="container-lg py-3">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12">
          <div class="item1">
            <div class="item1-content mb-1">
              <img
                src="assets/images/30c600fe0a3827da.png"
                class="w-100"
                alt="مكتب استشارات قانونية في الإمارات"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-12 about-article">
          <p>
            نحن مكتب استشارات قانونية
            <span style="color: #c7954a" class="fw-bolder"
              >سامي محروس ليجال كونسلتنسي م.م.ح</span
            >
            يديره المستشار
            <span style="color: #c7954a" class="fw-bolder">سامي مشعل</span>،
            الذي يمتلك خبرة تزيد عن 25 عاماً في كافة المجالات القانونية بدولة
            الإمارات العربية المتحدة. ونقدم حلولاً في مختلف القضايا والمشكلات
            القانونية. يتميز المكتب بفهم عميق للقوانين المحلية والأنظمة في دولة
            الإمارات، وذلك إلى جانب إدراكه لاحتياجات قطاع الأعمال والأفراد على
            حد سواء. ويضم فريق المكتب نخبة من المستشارين، ولدينا تعاقدات مع
            العديد من مكاتب المحاماة في كافة أنحاء الإمارات، مما يعزز قدرتنا على
            تقديم خدمة متكاملة تنال رضا العميل وتقوم على المصداقية. كما أننا
            نحرص دائماً على إقامة علاقات طويلة الأمد مع عملائنا الكرام تعتمد على
            الثقة المتبادلة بين الوكيل والموكل.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End About -->

<!-- Start Services -->
<section class="Services" id="services">
  <div class="container py-5">
    <div class="service-title text-center">
      <h3 class="edit-servicefont">خدماتنا</h3>
      <hr />
    </div>
    <div class="row gy-5 mt-2">
      <div class="col-md-4">
        <div class="service-box bg-white text-center p-4 shadow-sm rounded-4">
          <div class="service-icon">
            <div class="icon-circle">
              <div class="self-icon fs-1">
                <i class="fa-solid fa-scale-unbalanced"></i>
              </div>
            </div>
          </div>
          <div class="service-content mt-4">
            <h2 class="fs-4 fw-medium text-uppercase">قضايا الجنايات</h2>
            <p class="text-secondary">
              نقوم بدراسة ملفات القضايا الجنائية بمختلف أنواعها، بما في ذلك
              قضايا أمن الدولة، جرائم القتل والعنف، المخدرات، الاعتداء الجسدي
              ،جرائم الاغتصاب , الجرائم المالية الكبرى.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box bg-white text-center p-4 shadow-sm rounded-4">
          <div class="service-icon">
            <div class="icon-circle">
              <div class="self-icon fs-1">
                <i class="fa-solid fa-briefcase"></i>
              </div>
            </div>
          </div>
          <div class="service-content mt-4">
            <h2 class="fs-4 fw-medium text-uppercase">قضايا الجنح</h2>
            <p class="text-secondary">
              استعِد حقوقك معنا إذا تعرضت لأمثلة هذه القضايا: التبديدات والإتلاف
              والسرقة، وقضايا الضرب وحوادث السير والإصابة الخطأ .
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box bg-white text-center p-4 shadow-sm rounded-4">
          <div class="service-icon">
            <div class="icon-circle">
              <div class="self-icon fs-1">
                <i class="fa-solid fa-user-tie"></i>
              </div>
            </div>
          </div>
          <div class="service-content mt-4">
            <h2 class="fs-4 fw-medium text-uppercase">القضايا المدنية</h2>
            <p class="text-secondary">
              متخصصون في قضايا التعويضات بمختلف أنواعها، مثل: عقود الإيجار وعقود
              البيع، قضايا النزاع العقاري، قضايا نزع الملكية، قضايا العقود
              والالتزامات.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box bg-white text-center p-4 shadow-sm rounded-4">
          <div class="service-icon">
            <div class="icon-circle">
              <div class="self-icon fs-1">
                <i class="fa-solid fa-address-card"></i>
              </div>
            </div>
          </div>
          <div class="service-content mt-4">
            <h2 class="fs-4 fw-medium text-uppercase">قضايا الأحوال الشخصية</h2>
            <p class="text-secondary">
              نساعدك في إتمام مختلف القضايا المتعلقة بالأحوال الشخصية، مثل: ثبوت
              العلاقه الزوجية، دعاوى النسب، دعاوى الطلاق، الخلع، دعوى نفقة
              الزوجية.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box bg-white text-center p-4 shadow-sm rounded-4">
          <div class="service-icon">
            <div class="icon-circle">
              <div class="self-icon fs-1">
                <i class="fa-solid fa-building"></i>
              </div>
            </div>
          </div>
          <div class="service-content mt-4">
            <h2 class="fs-4 fw-medium text-uppercase">قضايا الشركات</h2>
            <p class="text-secondary">
              نؤسس شركتك على أسس قانونية سليمة، ونتولى تسجيل العقود ومحاضر
              الجمعيات، مع توفير خدمات محاسبية وضريبية عبر شركائنا المتخصصين.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box bg-white text-center p-4 shadow-sm rounded-4">
          <div class="service-icon">
            <div class="icon-circle">
              <div class="self-icon fs-1">
                <i class="fa-solid fa-clipboard-list"></i>
              </div>
            </div>
          </div>
          <div class="service-content mt-4">
            <h2 class="fs-4 fw-medium text-uppercase">عقود الشركات والأعمال</h2>
            <p class="text-secondary">
              نمثلكم في جميع إجراءات تسجيل العقود الرسمية، مع صياغة ومراجعة
              دقيقة لكل عقد لضمان توافقه مع مصالحكم وحماية حقوقكم.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services -->

<!--  Start article  -->
<section class="Articale">
  <div class="container pt-5">
    <div class="Articale-content text-center pt-5">
      <h2 class="Articale-title fs-1 fw-bolder" data-bigletter="المدونة">
        ابرز المواضيع القانونية
      </h2>
      <hr />
    </div>
    <div id="carouselExample" class="carousel slide pt-4">
      <div class="carousel-inner">
        <div class="carousel-item active text-center">
          <img
            src="assets/images/5888755764633278970.png"
            routerLink="/articale-1"
            class="item1edit"
            alt="مكتب استشارات قانونية في الإمارات"
          />
          <img
            src="assets/images/5888755764633278974.png"
            routerLink="/articale-2"
            class="item2edit"
            alt="مكتب استشارات قانونية في الإمارات"
          />
          <img
            src="assets/images/5888755764633278971.png"
            routerLink="/articale-3"
            class="item-edit3"
            alt="مكتب استشارات قانونية في الإمارات"
          />
        </div>
        <div class="carousel-item text-center">
          <img
            src="assets/images/5888755764633278972.png"
            routerLink="/articale-4"
            class="item1edit"
            alt="مكتب استشارات قانونية في الإمارات"
          />
          <img
            src="assets/images/5888755764633278973.png"
            routerLink="/articale-5"
            class="item2edit"
            alt="مكتب استشارات قانونية في الإمارات"
          />
          <img
            src="assets/images/5888755764633278975.png"
            routerLink="/articale-6"
            class="item-edit3"
            alt="مكتب استشارات قانونية في الإمارات"
          />
        </div>
        <div class="carousel-item text-center">
          <img
            src="assets/images/الاحتيال العقاري.png"
            routerLink="/articale-7"
            class="item1edit"
            alt="مكتب استشارات قانونية في الإمارات"
          />
          <img
            src="assets/images/5888755764633278968.png"
            routerLink="/articale-8"
            class="item2edit"
            alt="مكتب استشارات قانونية في الإمارات"
          />
          <img
            src="assets/images/5888755764633278969.png"
            routerLink="/articale-9"
            class="item-edit3"
            alt="مكتب استشارات قانونية في الإمارات"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <i class="fa-solid fa-angle-right carousel-control-prev-icon"></i>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next me-md-3"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <i class="fa-solid fa-angle-left carousel-control-next-icon"></i>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
<!--  End article  -->

<!-- Start Contact -->
<header class="Contact pt-5" id="contact">
  <div class="container-fluid py-5 px-md-5 text-center">
    <div class="Contact-content text-center">
      <h2 class="gettouch fw-bolder fs-1 pb-2" data-bigletter="اتصل بنا">
        مكتبنا في خدمتك
      </h2>
      <hr />
    </div>

    <div class="container">
      <div class="row gy-5 py-5">
        <div class="col-md-6">
          <h3 class="h3-contact mb-5 me-5">
            احصل على إجابات ونصائح من المستشار
            <span style="color: #c7954a">سامي محروس مشعل</span>
          </h3>

          <div class="row">
            <div class="col-lg-1 col-md-2 col-2 icons-Contact">
              <i class="fa-solid fa-map fs-2"></i>
            </div>
            <div class="col-lg-11 col-md-10 col-10 items-Contact">
              <h4>العنوان</h4>
              <p>
                مركز الشموخ للعمال، منطقة التجارة الحرة، أم القيوين، الإمارات
                العربية المتحدة
              </p>
            </div>
          </div>
          <hr class="hr-contact" />
          <div class="row">
            <div class="col-lg-1 col-md-2 col-2 icons-Contact">
              <i class="fa-solid fa-mobile-screen-button fs-2"></i>
            </div>
            <div class="col-lg-11 col-md-10 col-10 items-Contact">
              <h4>الهاتف</h4>
              <a href="https://wa.link/r1v56e">0552029019</a>
            </div>
          </div>
          <hr class="hr-contact" />
          <div class="row">
            <div class="col-lg-1 col-md-2 col-2 icons-Contact">
              <i class="fa-regular fa-envelope fs-2"></i>
            </div>
            <div class="col-lg-11 col-md-10 col-10 items-Contact">
              <h4>البريد الالكتروني</h4>
              <a href="mailto:lawexpertsuae.com" class="text-decoration-none"
                >LAWEXPERTSUAE&#64;GMAIL.COM</a
              >
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <form #contactForm="ngForm" (ngSubmit)="sendEmail($event)" novalidate>
            <div class="row">
              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control rounded-0 p-2 text-secondary"
                    name="name"
                    id="name"
                    [(ngModel)]="formData.name"
                    autocomplete="name"
                    placeholder="الاسم"
                    required
                  />
                </div>
              </div>

              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control rounded-0 p-2"
                    name="email"
                    id="email"
                    [(ngModel)]="formData.email"
                    autocomplete="email"
                    placeholder="البريد الالكتروني"
                    required
                    email
                  />
                </div>
              </div>

              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <input
                    type="tel"
                    class="form-control rounded-0 p-2"
                    name="phone"
                    id="phone"
                    [(ngModel)]="formData.phone"
                    autocomplete="tel"
                    placeholder="رقم الهاتف"
                    required
                  />
                </div>
              </div>

              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <textarea
                    class="form-control area-edit rounded-0 p-2"
                    name="message"
                    id="message"
                    [(ngModel)]="formData.message"
                    autocomplete="off"
                    placeholder="رسالتك"
                    required
                  ></textarea>
                </div>
              </div>

              <div class="col-md-12 mt-2 text-start">
                <button
                  type="submit"
                  class="py-2 px-3 color-button-home edit-cursor-button"
                  [disabled]="!isFormValid()"
                >
                  <i class="fa-solid fa-paper-plane me-1"></i>
                  ارسل طلبك الآن
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End Contact -->
